.card-list {
  width: 85vw;
  margin: 0 auto;
  /* Display in a grid */
  display: grid;
  /* With 4 equal columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* Between each column there is 20px */
  grid-gap: 20px;
}